*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}


body{
    background-image: url(/JavaScript-Exam-/imagehomepage/تصميم\ بدون\ عنوان\(3\).svg);

background-repeat: no-repeat;
background-size: cover;
position: relative; /* usually the parent, in this case the body element, has position relative so that the absolute positioned child is positioned relative to it */
height: 100vh; /* 100% of the viewport height */
margin: 0;
}

.container .text-style{

    color: white;
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 100%; 
    text-align: center;
    margin: 0; 
    left: 0;
}

.btnstyle button{
    background-color: #cdeaf9 !important;
    color: black;
}


